$primary-color: #707070;
$secondary-color: #db0a5a;
$grey-light-color: #f6f6f6;

//font
$default-font-size: 1.6rem;

// responsive - media quer

$sm-margin-resp: 1.5rem; //Top-margins
$md-margin-resp: 2.5rem; //Top-margins
