.menu {
  display: flex;

  ul {
    display: inherit;
    flex-basis: 40%;
    margin-left: auto;

    @include respond(phone) {
      margin: auto !important;
    }
    li {
      list-style: none;
      margin: 1.5rem;

      @include default-links;
    }
  }
}
