.contact {
  @include sections;
}

.contact-type,
.follow {
  flex-basis: 50%;

  @include respond(tab-port) {
    margin-top: $sm-margin-resp;
  }

  .sub-section {
    display: inherit;
    margin-top: 0.2rem;

    @include default-links;

    .follow-icons {
      font-size: 2.5rem;
      margin-right: 1rem;
    }
  }
}
.git {
  color: #211f1f;
}
.linkedin {
  color: #0966c3;
}
